*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.page-container{
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    text-align: center;
    height: 100vh;
    
    
}

header{
    background-color: rgb(235, 180, 80);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 48px 8px 8px;
}

input{
    width: 80px;
    height: 30px;
    border-radius: 8px;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}


.video-link{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
  
}

.card-externo{
    width: 180px;
    height: 230px;
    border: 2px solid #1c1c1c ;
    box-shadow: 2px 2px 5px 1px  gray;
    
}

.card-video{
    width: 176px;
    height: 180px;
    text-align: center; 
}

.grid-container{
      
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 16px;
    column-gap: 16px;
       
   
}


h4{
    
    text-align: center;
    display: block;
    padding: 4px 0 8px 0;
    margin-top: 12px;
}





footer{
    color: white;
    font-style: strong;
    background-color: rgb(29, 24, 37);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* responsividade*/




@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* celulares */
    .container {
      grid-template-columns: 1fr;
    }
}