*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    
    
}

header{
    background-color: rgb(235, 180, 80);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 48px 8px 8px;
}

input{
    width: 80px;
    height: 30px;
}


main{
    flex-grow: 1;
    display: flex;

}


.video-link{
    width: 100%;
  
}

.card-externo{
    width: 180px;
    height: 230px;
    border: 1px solid green;
    
}

.card-video{
    width: 178px;
    height: 180px;
    text-align: center; 
}

.grid-container{
      
    margin: 10px;
    width: 190px;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 16px;
    column-gap: 16px;
       
   
}


h4{
    
    text-align: center;
    display: block;
    padding: 4px 0 8px 0;
    margin-top: 12px;
}





footer{
    color: white;
    font-style: strong;
    background-color: rgb(29, 24, 37);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}