*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(162, 221, 221);
    font-family: "Calibri", Helvetica, Arial /* fonte do conteúdo, as aspas dupla são para identificar que a fonte é a primária */
    }

header{
    width: 100%;
    height: 70px;
    background-color: rgb(4, 122, 122);
}

/* ###### MENU ####### */

nav{
    width: 700px;
    height: 70px;
    margin-right: 20px;
    margin-top: 10px 20px 10px 20px;
    float: left;
    border:white;
    font-size: 18px;
}

main{
    width: 1000px;
    height: auto;
    margin: 0 auto 0 20px;
    text-align: center;
}

#banner{
    padding-top: 0px;
}

nav{
	width: 700px;
	height: 70px;
	font-size: 19px;
}

nav ul{
	list-style-type: none;
}

nav li{
	float: left;
	margin-left: 15px;
	color: white;
	font-weight: bold;
	line-height: 3.7;
}

nav ul .BOTAO:hover{
	background-color: rgba(255, 255, 255, 0.2);
}

/* ###### CONTEUDO ###### */

.corpoTexto{
    display: block;
    text-align: center;
}
h1{
    padding: 5px 0 8px 30%;
    border-radius: 10%;
    border-color: teal;
    margin: 12px 0 8px 0;
}
h3{
    padding: 5px 0 8px 29%;
    margin: 2px 0 8px 0;
}

h2{
    padding: 5px 0 8px 32%;
    margin: 25px 0 8px 0;
}

article{
    padding: 2px 0 8px 30%;
    align-items: center;
    margin-left: 10px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 10px 20px 10px;
}

/* ###### Footer ###### */

footer{
    clear: both;
    width: 100%;
    background-color: rgb(7, 100, 100);
    color: white;
    text-align: center;
    padding: 10px 0px;
}

footer figure img{
    width: 80px;
    height: 80px;
    margin: 20px 2px;
}

/* ###### controle de estoque ###### */
.tableProdutos{
    width: 70%;
    margin-left: 30%;
    margin-right: 15%;
    margin-bottom: 24px;
}


table, th, td{
    border: 1px solid black;
    background-color: rgba(184, 178, 178, 0.664);
    text-align: center;
  
}


.produtos{
    width: 150px;
    height:150px;
}

/* ###### Add produtos ###### */

form{
    width: 25%;
    height: auto;
    margin-bottom: 100px;
    float: left;
    margin-left: 50%;

}

form label{
    font-size: 16px;
    font-weight: bold;
    float: left
}
input{
    background-color: #fae5cc;
	border: 1px solid #f2c085;
	width: 300px;
	height: 25px;
	border-radius: 5px;
	box-shadow: 5px 3px 5px gray;
	margin-bottom: 2px;
    float: left
}

button{
    border: 0px;
    border-radius: 5px;
    width: 100px;
	height: 35px;
	background-color: rgb(196, 127, 0);
	font-size: 16px;
	font-weight: bold;
	color: white;
	margin: 10px 0px 10px 20px;
	box-shadow: 5px 3px 5px gray;
}

/* ###### funcionários ###### */
.funcionarios ul{
    width: 1200px;
    margin-bottom: 50px;
}

.funcionarios ul li{

    width: 300px;
    margin-left: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    list-style-type: none;
    display: inline;
}
